page-home {
	$colorPrimary : #8819b3;

	.logo-nubank {
    	text-align: center;
    	color: white;
    	padding-top: 5%;

    	ion-icon { font-size: 24px; }

    	img {
    		width: 10%;
    		height: 10%;
    		margin-right: 3%;
    		margin-bottom: -2%;
    	}
	}

	.scroll-content { 
		background-color: $colorPrimary; 
		overflow: hidden !important; 
	}

	.slider-primary { 
		padding-top: 15%;
		height: 420px;

		 .swiper-pagination-bullet-active {
		 	background: #fff !important;
		 	opacity: .9 !important;
		 }

		 .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
		 	 margin: 0 2.5px !important;
		 }

		.slide-nubank {
			 height: 90%;

			.box-slide {
				background-color: #fff;
		    	width: 92%;
		    	height: 320px;
		   	 	margin: 0 auto;
				border-radius: 2px;
				text-align: left;
				padding-top: 30%;
				padding-left: 6.5%;

		    	.icone-slide {
		    		font-size: 25px;
   					color: #424242;
   					position: absolute;
    				left: 10%;
    				top: 5%;
				}

		    	.fatura-slide {
	    			.title-fatura { 
						text-transform: uppercase;
						color: #1bb6ea; 
						margin: 0px; 
						font-size: 14px; 
						padding-bottom: 2%; 
						font-weight: bold;
					}

			    	.preco-fatura {
			    		color: #1bb6ea;
			    		margin: 0px;
			    		font-size: 28px;
			    		font-weight: bold;
			    		padding-bottom: 2%;

			    		span {
			    			font-weight: 400;
			    		}
					}
					
			    	.limite-fatura { 
			    		margin: 0px;
			    		font-size: 14px;
			    		span {
			    			color: #07b507;
			    			font-weight: bold;
			    		}
			    	}
				}

	    		.overlay-slide{
		    		background-color: #f7f6f6;
				    position: absolute;
				    height: 22%;
				    width: 92%;
					bottom: 0;
					margin-left: -6.5%;
					
		    		.icone-slide {
					    color: #424242;
					    font-size: 25px;
					    position: absolute;
					    left: 5%;
					    top: 30%;
		    		}
					
					p {
		    			font-size: 12px;
					    text-align: left;
					    padding-left: 15%;
					    padding-right: 20%;
					    margin-top: 6%;
					    color: #424242;
					}
					
		    		.icone-flexa-slide {
		    			position: absolute;
					    right: 5%;
					    top: 40%;
					    font-size: 16px;
					    color: #7f7d7d;
		    		}
		    	}

		    	.barra-colorida-slide {
					background: -webkit-linear-gradient(top, rgba(250,131,40,1) 0%, rgba(241,111,92,1) 31%, rgba(27,182,234,1) 31%, rgba(27,182,234,1) 47%, rgba(27,182,234,1) 47%, rgba(240,47,23,1) 47%, rgba(7,181,7,1) 47%, rgba(7,181,7,1) 100%);
					position: absolute;
				    height: 63%;
				    right: 30px;
				    top: 20px;
				    border-radius: 5px;
				    width: 8px;
		    	}

		    	.cotacao-slide {
					.title-cotacao {
						color: #424242; 
						margin: 0px; 
						font-size: 15px; 
						padding-bottom: 2%;
					}
					
		    		.valor-moeda {
						margin: 0%;
					    font-size: 28px;
		    		}
		    	}
			}
		}
	}
}
