page-cotacao {

    .conteudo {
        padding: 20px;
    }

    .quantidade {
        font-size: 20pt;
    }

    .btn-cotacao {
        color: #8819b3;
        padding: 22px;
        font-size: 12px;
        margin-bottom: 40px;
        background-color: transparent;
        box-shadow: none;
        border: 1px solid #8819b3;
        width: 80%;
        border-radius: 4px;
        position: fixed; 
        bottom: 0px;
    }
}
